.login-content {
  width: 400px;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  padding: 50px;
}

.login-title {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 30px;
}

.login-form-group button {
  width: 100px;
  height: 35px;
  margin-top: 10px;
  font-size: 14px;
}

.login-message {
  width: 100%;
  border: 1px solid #b7eb8f;
  background: #f6ffed;
  padding: 4px 10px;
  border-radius: 4px;
  margin-bottom: 15px;
  text-align: center;
}
