.signup-content {
  width: 400px;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  padding: 50px;
}

.signup-title {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 30px;
}

.signup-form-group button {
  width: 100px;
  height: 35px;
  margin-top: 10px;
  font-size: 14px;
}
